:root {
    --gray:#F4F5F9;
}

.container{
    min-height: 60vh;
}

.bg-gray{
    background-color: #F4F5F9;
}

.link{
    text-decoration: nome;
}

.heebo-font {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}